@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,900;1,900&display=swap');

:root {
  --main-color: #02007F;
  --white: #fff;
  --box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.4);
  --header-font: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html {
  scroll-padding-top: 70px;
}

body {
  font-family: 'Muli', sans-serif;
  color: #222;
}

br {
  display: block;
  content: '';
  margin-top: 1rem;
}

.nav {
  position: fixed;
  background-color: var(--white);
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: var(--box-shadow);
}

.nav .container {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav ul li {
  padding: 7px 15px;
  font-size: 1.2rem;
}

.nav a {
  color: var(--main-color);
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.nav a.current,
.nav a:hover {
  font-size: 110%;
  font-weight: bold;
}

.logo img {
  max-width: 80%;
  padding-left: 1rem;
}

.menu-close,
.menu-toggle {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.hero {
  background-image: url('docs/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -2;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.hero-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-family: var(--header-font), 'DejaVu Sans';
  font-weight: 900;
  font-size: 5em;
  margin: -20px 0 20px;
  letter-spacing: 3px;
}

.hero h2 {
  font-family: var(--header-font), 'DejaVu Sans';
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 3px;
}

.section-header {
  display: flex;
  justify-content: center;
  font-family: var(--header-font), 'DejaVu Sans';
  font-weight: 400;
  font-size: 3em;
  color: var(--main-color);
  margin-top: 3em;
}

.section-header:first-of-type {
  padding-top: 3rem;
}

.rule {
  width: 75%;
  margin: auto;
  margin-top: 1.5em
}

.rule:last-of-type {
  margin-bottom: 2rem;
}

.content p {
  line-height: 40px;
  letter-spacing: 1.2px;
  font-size: 1.2rem;
}

.about-me {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.about-content{
  display: flex;
  flex: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} 

.about-text {
  width: 75%;
}

.img-container {
  display: flex;
  flex: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.img-container img {
  border:2px solid #fff;
  box-shadow: 10px 10px 5px #ccc;
  margin: 20px;
  border-radius: 10px;
}

.resume-link {
  cursor: pointer;
  padding: 1.7rem;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 10px;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  text-decoration: none;
  box-shadow: var(--box-shadow);
}

.resume-link:hover {
  transform: scale(0.98);
  font-weight: bold;
  font-size: 110%;
  background-color: #000;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

.project {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 2rem;
  padding: 5rem 0 5rem 0;
}

.project-image {
  overflow: hidden;
  max-width: 100%;
  width: 35rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.project-image img,
.project-image source {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.project-info {
  position: relative;
  overflow: hidden;
  width: 63%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 150%;
  line-height: 70px;
  padding: 10px;
}

.project-info h3 {
  margin-bottom: 0.5rem;
  color: var(--main-color);
  font-size: 1.8rem;
  font-weight: bold;
}

.project-links {
  padding: 1rem;
  flex-direction: row;
}

.project-info a {
  margin: 0.5rem;
  border: 5px solid #000;
  color: #000;
  padding: 0.25rem 1rem 0.25rem 1rem;
  text-decoration: none;
  display: inline-block;
}

.project-info a:hover {
  transform: scale(0.98);
  background-color: #000;
  color: #fff;
}

.project-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  font-size: 1.5rem;
}

.project-button:hover {
  font-size: 1.6rem;
}

.fa-arrow-right {
  margin-left: 0.5rem;
}

.fa-arrow-left {
  margin-right: 0.5rem;
}

.projects-page {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.testimonial-container {
  background-color: var(--main-color);
  color: #fff;
  border-radius: 15px;
  margin: 10px auto;
  padding: 50px 50px;
  width: 90%;
  position: relative;
  display: flex;
  justify-content: space-between;
  box-shadow: var(--box-shadow)
}

.fa-quote {
  color: rgba(255, 255, 255, 0.3);
  font-size: 28px;
  position: absolute;
  top: 70px;
  padding: 0;
}

.fa-quote-right {
  right: 40px;
}

.fa-quote-left {
  left: 40px;
}

.fa-angle-right {
  right: 20px;
}

.fa-angle-left {
  left: 20px;
}

.testimonial {
  flex: 65%;
  font-style: italic;
  color: #fff;
  padding-right: 0.5rem;
  padding-left: 0.7rem;
  width: 50%;
  margin: auto;
}

.user {
  flex: 25%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.user .user-image {
  border-radius: 50%;
  height: auto;
  max-width: 70%;
  object-fit: cover;
}

.user .user-details {
  margin-left: 10px;
  margin-top: 1rem;
  font-size: 1rem;
}

.user .username {
  margin: 0;
}

.user .role {
  font-weight: normal;
  margin: 10px 0;
  color: white;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin: auto;
}

.skills-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 10px;
  z-index: 1;
  width: 30%;
  box-shadow: var(--box-shadow)
}

.skills-box h3,
.skills-box h2 {
  padding-bottom: 1.2rem;
  font-weight: bold;
  font-size: 150%;
  color: var(--main-color);
  text-align: center;
}

.skills-img {
  align-self: flex-start;
  font-size: 2rem;
  top: 0;
  left: 20px;
  padding: 1rem;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 5px;
}

.skill {
  font-size: 1.2rem;
  padding: 0.5rem;
}

.front-end-skills, .back-end-skills {
  columns: 2;
}

.form-container {
  padding: 2rem;
  width: 100%;
  margin: auto;
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-group {
  width: 60%;
  margin: auto;
  padding: 1.5rem;
}

.form-group label {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 80%;
  padding: 1rem;
  border-radius: 5px;
}

.form-group textarea {
  height: 5rem;
  overflow: hidden;
  margin-bottom: 2rem;
  resize: none;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  font-size: 1.2em;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none
}

.form-field {
  display: flex;
  justify-content: space-between;
}

.submit-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.btn {
  border: none;
  background-color: var(--main-color);
  color: #fff;
  font-size: 1.5em;
  padding: 1rem;
  cursor: pointer;
  width: 30%;
  border-radius: 10px;
}

.btn:hover,
.social-icon:hover {
  background-color: #000;
  font-weight: bold;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  padding-bottom: 3rem;
}

.social-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 3.5rem;
  width: 3.5rem;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 100%;
  margin-right: 1rem;
  margin-top: 0.5em;
  text-decoration: none;
}

footer {
  background-color: #ADE0EC;
  background-image: linear-gradient(#ADE0EC, #CBEBE7);
  color: #000;
  border-radius: 30px 30px 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.copyright {
  margin: 1em;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

@media (max-width: 992px) {
  .nav .container:only-of-type ul {
    position: absolute;
    display: none;
    left: -200px;
    top: 0;
    height: 100%;
    overflow-y: scroll;
    overflow-x: visible;
    transition: left 0.3s ease, box-shadow 0.3s ease;
    z-index: 999;
  }

  .container ul {
      list-style: none;
      margin: 0;
      padding: 2.5em 0 0;
      /* Hide shadow w/ -8px while 'closed' */
      -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
         -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
              box-shadow: -8px 0 8px rgba(0,0,0,.5);
      min-height: 100%;
      width: 200px;
      background: #D7015C;
  }

  .container a:only-of-type ul {
    display: block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    text-decoration: none;
    border-bottom: 1px solid #383838;
  }
  
  .container a {
    color: #fff;
  }

  .menu-toggle, .menu-close {
    background-color: transparent;
    border: none;
    display: inline-block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: var(--main-color);
    right: 0;
    top: 10px;
    position: absolute;
    z-index: 1000;
  }

  .container.hamburger-active {
    height: 100vh;
  }

  .nav .container.hamburger-active ul {
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .container.hamburger-active ul li {
    font-size: 2rem;
    padding: 1rem;
  }

  .container.hamburger-active .menu-close {
    display: inline-block;
    z-index: 2000;
  }

  .container.hamburger-active .menu-toggle {
    display: none;
  }

  .menu-close {
    display: none;
  }

  .menu-toggle:focus {
    outline: none;
  }
  
  .menu-toggle:hover,
  .menu-toggle:focus {
    color: var(--main-color);
  }

  .section-header {
    font-size: 2rem;
    margin-top: 1rem;
  }

  .project-container {
    width: 100vw;
  }

  .project {
    flex-direction: column;
    padding: 0.1rem;
  }

  .project-info {
    width: 98%;
    line-height: normal;
  }

  .project-info h3 {
    font-size: 80%;
    margin: 0
  }

  .project-info a {
    padding: 0.25rem 0.5rem;
    font-size: 80%;
  }

  .skills-container {
    flex-wrap: wrap;
  }

  .skills-box:first-of-type {
    width: 60%;
  }

  .skills-box {
    width: 40%;
  }

  .form-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }

  .footer-logo {
    padding: 1rem;
    width: 100%;
  }

  .footer-logo a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-logo img {
    height: auto;
    max-width: 50%;
  }
}

  @media (max-width: 760px) {
    .logo {
      max-width: 50%;
      max-height: 80%;
    }

    .hero {
      background-image: url('docs/background-small.webp');
    }

    .about-me {
      flex-wrap: wrap;
    }
  
    .about-me .about-text {
      line-height: 25px;
      width: 100%;
    }
  
    .about-content {
      flex: 100%;
    }
  
    .img-container {
      flex: 100%;
    }

    .project-button {
      width: 80%;
    }
    
    .testimonial-container {
      padding: 1rem;
      flex-direction: column;
      width: 98%;
    }
  
    .fa-quote {
      visibility: hidden;
    }
  
    .testimonial-container .testimonial {
      width: 95%;
      padding: 0;
      margin: auto;
      font-size: 0.9rem;
      line-height: 2rem;
      padding-top: 1rem;
      order: 1;
    }
  
    .user {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      order: 2;
    }
  
    .user .user-image,
    .user source {
      max-width: 30%;
      height: auto;
      margin: 1rem;
    }
    
    .user .user-details {
      margin: 0;
      font-size: 0.8rem;
      display: flex;
      flex-direction: column;
      width: 100%
    }
    
    .user .role {
      margin: 0;
      font-size: 0.8rem;
      line-height: 15px;
      padding-top: 0.5rem;
    }
  
    .skills-container {
      flex-wrap: wrap;
    }
  
    .skills-box,
    .skills-box:first-of-type {
      width: 98%;
      margin: 1.5rem 0;
      font-size: 90%;
    }
  
    .skills-img {
      font-size: 1.5rem;
      padding: 0.5rem;
    }
  
    .form-container {
      padding: 0;
    }
  
    .form-group input,
    .form-group textarea {
      width: 60%;
    }
  
    .btn {
      width: 90%;
      margin: auto;
    }
  
    .social-icons {
      margin: auto;
      padding: 0.5rem;
    }

    .social-icon {
      font-size: 1.5rem;
      height: 2.5rem;
      width: 2.5rem;
    }

    footer {
      margin-top: 1rem;
    }
}